@import "@unocss/reset/tailwind-v4" layer(base);
@import "m3-svelte/etc/styles.css";
@import "m3-svelte/etc/recommended-styles.css";
@font-face {
  font-family: Inter Variable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/InterVariable.woff2?v=4.1") format("woff2");
}
@font-face {
  font-family: Inter Variable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/InterVariable-Italic.woff2?v=4.1") format("woff2");
}
:root {
  @apply --m3-body-large;
  background-color: var(--m3c-surface);
  color: var(--m3c-on-surface);
  --m3-font: Inter Variable, system-ui;
  color-scheme: light dark;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
button {
  text-align: start;
}
@function --m3-density(--size) {
  result: var(--size);
}
@layer tokens {
  :root {
    --m3c-surface: light-dark(#fff3f9, #1f031e);
    --m3c-surface-container-lowest: light-dark(#fff, #000);
    --m3c-surface-container-low: light-dark(#ffebf8, #260525);
    --m3c-surface-container: light-dark(#ffdff6, #2f0a2d);
    --m3c-surface-container-high: light-dark(#ffd7f6, #370f35);
    --m3c-surface-container-highest: light-dark(#ffcef5, #40143e);
    --m3c-on-surface: light-dark(#442341, #ffdbf6);
    --m3c-on-surface-variant: light-dark(#754f70, #cb9dc2);
    --m3c-outline: light-dark(#936a8c, #91688b);
    --m3c-outline-variant: light-dark(#cd9fc4, #603c5b);
    --m3c-inverse-surface: light-dark(#1f031e, #fff7f9);
    --m3c-inverse-on-surface: light-dark(#bb8fb3, #6e4969);
    --m3c-primary: light-dark(#a81c7c, #ff84cb);
    --m3c-on-primary: light-dark(#ffeff4, #5e0043);
    --m3c-primary-container: #ff69c5;
    --m3c-on-primary-container: #490033;
    --m3c-inverse-primary: light-dark(#fc66c2, #ac217f);
    --m3c-secondary: light-dark(#8e3a8a, #fe9cf4);
    --m3c-on-secondary: light-dark(#ffeef8, #671466);
    --m3c-secondary-container: light-dark(#ffbdf4, #752373);
    --m3c-on-secondary-container: light-dark(#762474, #ffbbf4);
    --m3c-tertiary: light-dark(#3a53b7, #879dff);
    --m3c-on-tertiary: light-dark(#f2f1ff, #001b6b);
    --m3c-tertiary-container: light-dark(#9aacff, #778ff7);
    --m3c-on-tertiary-container: light-dark(#002486, #00104a);
    --m3c-error: light-dark(#b41340, #ff6e84);
    --m3c-on-error: light-dark(#ffefef, #490013);
    --m3c-error-container: light-dark(#f74b6d, #a70138);
    --m3c-on-error-container: light-dark(#510017, #ffb2b9);
    --m3c-shadow: #000;
    --m3c-scrim: #000;
    --m3c-on-on-primary: light-dark(#a71b7b, #ff84cc);
    --m3c-primary-container-subtle: light-dark(#ffc4e1, #5a0040);
    --m3c-on-primary-container-subtle: light-dark(#8d0067, #ff7fca);
    --m3c-secondary-container-subtle: light-dark(#ffc1f4, #540054);
    --m3c-on-secondary-container-subtle: light-dark(#782676, #e98adf);
    --m3c-tertiary-container-subtle: light-dark(#cad2ff, #00217c);
    --m3c-on-tertiary-container-subtle: light-dark(#243fa4, #92a6ff);
    --m3c-error-container-subtle: light-dark(#ffc6cb, #5f001c);
    --m3c-on-error-container-subtle: light-dark(#960031, #ff8796);
  }
}
